nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
        .link a{
	text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: #4b0082;
    border-radius: 20px;
    transition: background 0.3s;
}
		.logo{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
		body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#DFBBB1;
    color :#373F51;
    line-height: 1.6;
}
		section {
    padding: 40px 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.05);
	border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
    
}

		#section.h3
		{
	font-size: 2.5em;
    margin-bottom: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
		#about { display:flow-root; align-items:centre; gap: 50px; flex-wrap: wrap; }
		
		}
.image1{
	width:200px;
	height:310px;
	overflow: hidden;
	border-radius:20% 20% 0 0;
	top: 180px; 
    right: 180px; 
    z-index: 1;
}

       .image img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.3);
	   }
    
    

	

	

		#skills{
	background:#82004c;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
}
		#contact input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}
		#contact button {
    padding: 10px 20px;
    background: #4b0082;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;

}


